.month-control {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &__actions {

    button + button {
      display: inlin-block;
      margin-left: 8px;
    }
  }
}
