.habit-list-item {
  display: flex;
  align-items: center;

  background-color: blanchedalmond;

  min-width: var(--sidebar-width);
  width: var(--sidebar-width);
  margin-right: 0.75rem;

  & > div {
    flex: 1;
  }
}

.habit-name {
  &__title {
    color: var(--slate-600);
    /* body */
    font-size: 0.875rem;
    font-family: SF Pro;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25rem;
    text-overflow: ellipsis;
    overflow: hidden;
    border-radius: 0.375rem;
    padding: .5rem .75rem;

    @apply transition-colors;

    &:hover {
      background-color: var(--slate-100);
    }
  }
}

.habits-list {
  & > div + div {
    margin-top: 0.5rem;
  }
}